//- Utility
include utils/_variables

-
    pageTitle = 'main'
    main = true

doctype html
html
    include layout/_head

    body
        include layout/_header

        main#root.jumbotron
            h2#counter 0
            button#dec.btn.btn-primary.btn-md DEC
            button#inc.btn.btn-primary.btn-md INC

        include layout/_footer